 {
 "success":true,
 "payload":{
  "rows":[
#foreach(${item} in ${body}) 
 {"row":{
  "anioActa":"${item.AnioActa}",
  "regionActa":"${item.RegionActa}",
  "fechaIngreso":"${item.FechaIngreso}",
  "tipoPrograma":"${item.TipoPrograma}",
  "tipoActa":"${item.TipoActa}",
  "rbd":"${item.RBD}",
  "sustitunoN":"${item.SustN}",
  "nombreSustitunoN":"${item.nombreSustN}",
  "estadoActa":"${item.EstadoActa}",
  "estadoPendienteTerminado":"${item.EstadoPendienteTerminado}"
#if(( $foreach.hasNext ) )
  }},
#{else}
  }}
#end	
#end
]},
  "return":{  
   "code":"200",
   "message":"OK"
  }
}
