{
 "success":true,
 "payload":{
  "fiscalizadores":[
#foreach(${item} in ${body}) 
	  {"fiscalizador":{
	  "Id":"${item.id}",
	  "Nombre":"${item.nombre}",
	  "NombreUsuario":"${item.nombreUsuario}",
	  "Region":"${item.region}",
	  "Imei":"${item.imei}"
#if(( $foreach.hasNext ) )
  }},
#{else}
  }}
#end	
#end
]},
  "return":{  
   "code":"200",
   "message":"OK"
  }
}
