{
 "success":true,
 "payload":{  
  "representanteLegalPorRut":{  
  "RutRepresentante":"${body.rut_representante}",
  "RutSostenedor":"${body.rut_sostenedor}",
  "NombreRepresentante":"${body.nombre_representante}",
  "PaternoRepresentante":"${body.paterno_representante}",
  "MaternoRepresentante":"${body.materno_representante}",
  "Fuente":"${body.fuente}"
 }
},
 "return":{  
  "code":"200",
  "message":"OK"
 }
}


