 {
 "success":true,
 "payload":{
  "consultas":[
#foreach(${item} in ${body}) 
 {"consulta":{
  "Param1":"${item.param1}",
  "Param2":"${item.param2}",
  "Param3":"${item.param3}"
#if(( $foreach.hasNext ) )
  }},
#{else}
  }}
#end	
#end
]},
  "return":{  
   "code":"200",
   "message":"OK"
  }
}
